body{
  background-color: rgba(83, 178, 164, 0.557);
}
p {
  text-align: center;
  align-self: center;
  display: block; 
  margin-top: 40px;
  margin-left: auto;  
  margin-right: auto;
  border: 70px, 70px; 
  padding: auto;
  max-width: 900px;
}
h1 {
  text-align: center;
  font-size:5vw;
}

div {
  margin: 50px 50px;
}

li {
  margin-top: 10px;
}
ul {
  list-style-type: circle;
}
ol {
  list-style-type: decimal;
}
.expr {
  float: left;
 
}
.Artists {
  float: right;
}

